* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header,
nav {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.logo {
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    background: orange;
}

menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

ul li {
    color: black;
    margin: 0 3rem;
    transition: all 400ms;
}

li:hover {
    color: #0005;
}

.container-gral {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 35%;
    text-align: center;
    margin: 1rem;
}

.hero-text button {
    border: none;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background: orange;
    margin: 1rem;
    font-weight: bolder;
}

.hero-img {
    width: 60%;
    height: 80%;
    border-radius: 0.8rem;
    overflow: hidden;
}

.hero-img img {
    height: 100%;
}

.container-gral .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.content-img {
    width: 38%;
    height: 80%;
    background: orange;
    border-radius: 0.8rem;
}

.content-questions {
    width: 60%;
    height: 98%;
    display: inline-block;
    position: relative;
}

.content-questions .title {
    width: 90%;
    text-align: center;
}

.content-question {
    width: 96%;
    height: 22%;
    border-radius: 0.8rem;
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 400ms;
    position: relative;
}

.content-question:hover {
    background: #f2f2f2;
}

.question {
    width: 98%;
    height: 1.5rem;
    position: relative;
}

.answer {
    width: 98%;
    height: 80%;
    padding: 0.4rem;
    position: relative;
}

.answer button {
    border: none;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background: orange;
    margin: 1rem;
    font-weight: bolder;
    position: absolute;
    left: 80%;
    top: 35%;
    cursor: pointer;
    transition: all 400ms;
}

button:hover {
    color: #fff;
    box-shadow: 2px 2px 10px 0px #0005;
}

.img-attr {
    border-radius: 0.8rem;
    margin: 0.5rem;
    width: 95%;
}

.menu-bars {
    width: 0;
    height: 0;
    overflow: hidden;
}


/*-----------RESPONSIVE DESING----------*/

@media(max-width:1200px) {
    header {
        background: red;
    }
}

@media(max-width:860px) {
    header {
        background: yellow;
    }
    .menu-bars {}
}

@media(max-width:560px) {
    header {
        background: yellow;
    }
}